<a href="https://colab.research.google.com/github/bola1318/base_de_dados/blob/main/BrasileiroA_tabela.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



> Bloco com recuo


premier1 = df1[1] #table 1 site https://fbref.com/en/comps/24/Serie-A-Stats#results2022241_overall
premier1.to_excel("teste.xlsx")

In [34]:
import pandas as pd 
import requests 
from google.colab import data_table
data_table.enable_dataframe_formatter()

import csv

In [35]:
#coletando as planilhas 

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

#A url que você quer acesssar
url_link1 = "https://fbref.com/en/comps/24/Serie-A-Stats#results2022241_overall"
#ENG_01 = pd.read_csv("https://fbref.com/en/comps/9/Premier-League-Stats#results2022-202391_overall") 

r1 = requests.get(url_link1, headers=header)

df1 = pd.read_html(r1.text)

In [36]:
#df1

In [37]:
len(df1)

24

In [38]:
df1[1] #Regular season

   Unnamed: 0_level_0 Unnamed: 1_level_0 Home                        ... Away  \
                   Rk              Squad   MP  W  D  L GF GA GD Pts  ...    L
0                   1      Botafogo (RJ)    3  3  0  0  7  1  6   9  ...    0
1                   2          Palmeiras    4  3  1  0  9  4  5  10  ...    0
2                   3         Fluminense    3  2  1  0  5  1  4   7  ...    1
3                   4   Atlético Mineiro    3  2  0  1  5  3  2   6  ...    1
4                   5           Flamengo    3  2  0  1  7  3  4   6  ...    2
5                   6     Atl Paranaense    2  2  0  0  4  1  3   6  ...    2
6                   7           Cruzeiro    3  2  0  1  3  3  0   6  ...    1
7                   8          Fortaleza    3  1  2  0  5  3  2   5  ...    0
8                   9          São Paulo    2  2  0  0  5  0  5   6  ...    1
9                  10             Santos    3  2  1  0  6  2  4   7  ...    2
10                 11             Grêmio    2  1  1  0  4  3  1   4  ...    2
11                 12      Internacional    3  2  0  1  3  3  0   6  ...    2
12                 13         Bragantino    3  1  1  1  4  6 -2   4  ...    0
13                 14              Bahia    3  1  0  2  6  6  0   3  ...    2
14                 15      Vasco da Gama    2  0  1  1  2  3 -1   1  ...    0
15                 16        Corinthians    2  1  1  0  3  2  1   4  ...    3
16                 17             Cuiabá    3  0  1  2  2  7 -5   1  ...    2
17                 18              Goiás    2  1  0  1  3  6 -3   3  ...    3
18                 19           Coritiba    3  0  2  1  2  5 -3   2  ...    2
19                 20       América (MG)    2  0  0  2  1  5 -4   0  ...    2


   GF GA GD Pts Pts/MP   xG  xGA  xGD xGD/90
0   5  3  2   6   3.00  2.1  4.0 -1.9  -0.94
1   7  2  5   4   2.00  2.9  2.4  0.5   0.25
2   7  4  3   6   2.00  5.8  8.6 -2.8  -0.95
3   4  2  2   4   1.33  4.3  3.2  1.2   0.40
4   5  6 -1   3   1.00  5.6  3.2  2.3   0.78
5   3  4 -1   3   1.00  2.6  3.9 -1.2  -0.41
6   4  2  2   3   1.50  2.5  3.0 -0.5  -0.25
7   4  1  3   4   2.00  3.6  1.7  1.9   0.93
8   2  3 -1   2   0.67  3.6  3.6  0.0   0.01
9   1  3 -2   0   0.00  2.4  3.2 -0.8  -0.41
10  3  6 -3   3   1.00  2.5  6.5 -4.0  -1.34
11  1  5 -4   1   0.33  2.2  4.9 -2.7  -0.90
12  5  5  0   3   1.00  3.8  4.3 -0.5  -0.15
13  2  5 -3   3   1.00  3.0  4.8 -1.9  -0.62
14  4  3  1   5   1.67  2.9  4.3 -1.4  -0.46
15  2  8 -6   0   0.00  1.5  5.1 -3.5  -1.18
16  3  5 -2   3   1.00  2.0  5.0 -2.9  -0.98
17  0  5 -5   0   0.00  2.5  4.3 -1.8  -0.61
18  1  6 -5   0   0.00  0.7  2.9 -2.1  -1.06
19  4  8 -4   1   0.33  4.8  5.7 -0.9  -0.30

[20 rows x 28 columns]

selecionar e concatenar as mesmas tabelas de todas das as ligas

> Bloco com recuo

In [39]:
premier1 = df1[1]
premier1.to_excel("brasila_Regular_season.xlsx")

# **LER ARQUIVO DO GITHUB**

In [66]:

url = 'https://github.com/bola1318/base_de_dados/raw/main/Basededados/brasila_Regular_season.xlsx'

#df = pd.read_excel(url)  
df = pd.read_excel(url, skiprows=1)

In [ ]:
df

In [69]:
df = df[['Rk','Squad']]
df.columns = ['Posicao','Time']

In [73]:
#df.isnull()
df = df.dropna() 
df

    Posicao              Time
1       1.0     Botafogo (RJ)
2       2.0         Palmeiras
3       3.0        Fluminense
4       4.0    Atl Paranaense
5       5.0          Cruzeiro
6       6.0         Fortaleza
7       7.0         São Paulo
8       8.0  Atlético Mineiro
9       9.0            Santos
10     10.0            Grêmio
11     11.0     Internacional
12     12.0          Flamengo
13     13.0             Bahia
14     14.0     Vasco da Gama
15     15.0        Bragantino
16     16.0       Corinthians
17     17.0            Cuiabá
18     18.0             Goiás
19     19.0          Coritiba
20     20.0      América (MG)

Estatísticas padrão do esquadrão

In [ ]:
#df2[2]  # Squad Standard Stats 2022-2023

In [ ]:
##premier2.to_excel("premier_Squad _tandard _stats.xlsx")

Squad Shooting

In [ ]:
#df3[8]

In [ ]:
#Concatenando as Planilhas
#df = [premier1,premier2]
#df = pd.concat(df)

#df
#df.to_excel("tudo.xlsx")

In [ ]:
#df1[3] #fora de casa

In [ ]:
#df1[4]#Squad Goalkeeping home

In [ ]:
#df1[5]  #Squad Goalkeeping away

In [ ]:
#df1[6]#Squad Advanced Goalkeeping home

In [ ]:
#df1[7] #Squad Advanced Goalkeeping away

In [ ]:
#df1[8] #Squad Shooting home

In [ ]:
#df1[9] # Squad Shooting away

In [ ]:
 #Squad Passing home

In [ ]:
#df1[11] # Squad Passing away

In [ ]:
#df1[12]  #Squad Pass Types  home

In [ ]:
#df1[13] #Squad Pass Types away

In [ ]:
#df1[14] #Squad Goal and Shot Creation home

In [ ]:
#df1[15] #Squad Goal and Shot Creation  away

In [ ]:
#df1[16] #Squad Goal and Shot Creation  home

In [ ]:
#df1[17] #Squad Goal and Shot Creation  away

In [ ]:
#df1[18]

In [ ]:
#df1[19]

In [ ]:
#df1[20]

In [ ]:
#df1[21]

In [ ]:
#df1[22]