<a href="https://colab.research.google.com/github/bola1318/base_de_dados/blob/main/TODAS_LIGAS_COM_ODDS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

#INGLATERRA 1 e 3

In [ ]:
# Inglaterra 1
ENG1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/E0.csv")
ENG1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/E0.csv")
ENG1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/E0.csv")
ENG1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/E0.csv")
ENG1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/E0.csv")
ENG1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/E0.csv")
ENG1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/E0.csv")
ENG1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/E0.csv")
ENG1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/E0.csv")
ENG1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/E0.csv")
ENG1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/E0.csv")

In [ ]:
ENG1 = [ENG1_01,ENG1_02,ENG1_03,ENG1_04,ENG1_05,ENG1_06,ENG1_07,ENG1_08,ENG1_09,ENG1_10,ENG1_11]
ENG1 = pd.concat(ENG1)
ENG1['Liga'] = 'Inglaterra 1'

In [ ]:
ENG1

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,SJH,SJD,SJA,GBH,GBD,GBA,BSH,BSD,BSA,Liga
0,E0,13/08/2021,20:00,Brentford,Arsenal,2.0,0.0,H,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inglaterra 1
1,E0,14/08/2021,12:30,Man United,Leeds,5.0,1.0,H,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inglaterra 1
2,E0,14/08/2021,15:00,Burnley,Brighton,1.0,2.0,A,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inglaterra 1
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3.0,0.0,H,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inglaterra 1
4,E0,14/08/2021,15:00,Everton,Southampton,3.0,1.0,H,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inglaterra 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,E0,18/03/2023,15:00,Brentford,Leicester,1.0,1.0,D,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inglaterra 1
266,E0,18/03/2023,15:00,Southampton,Tottenham,3.0,3.0,D,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inglaterra 1
267,E0,18/03/2023,15:00,Wolves,Leeds,2.0,4.0,A,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inglaterra 1
268,E0,18/03/2023,17:30,Chelsea,Everton,2.0,2.0,D,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inglaterra 1
269,E0,19/03/2023,14:00,Arsenal,Crystal Palace,4.0,1.0,H,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inglaterra 1

In [ ]:
# Inglaterra 2
ENG2_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/E1.csv")
ENG2_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/E1.csv")
ENG2_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/E1.csv")
ENG2_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/E1.csv")
ENG2_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/E1.csv")
ENG2_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/E1.csv")
ENG2_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/E1.csv")
ENG2_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/E1.csv")
ENG2_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/E1.csv")
ENG2_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/E1.csv")
ENG2_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/E1.csv")

In [ ]:
ENG2 = [ENG2_01,ENG2_02,ENG2_03,ENG2_04,ENG2_05,ENG2_06,ENG2_07,ENG2_08,ENG2_09,ENG2_10,ENG2_11]
ENG2 = pd.concat(ENG2)
ENG2['Liga'] = 'Inglaterra 2'

In [ ]:
df1 = ENG1[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','Referee','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

df2 = ENG2[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','Referee','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [ ]:
df1

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AC,HY,AY,HR,AR,B365H,B365D,B365A,B365>2.5,B365<2.5
0,E0,13/08/2021,20:00,Brentford,Arsenal,2.0,0.0,H,1.0,0.0,...,5.0,0.0,0.0,0.0,0.0,4.00,3.40,1.95,2.10,1.72
1,E0,14/08/2021,12:30,Man United,Leeds,5.0,1.0,H,1.0,0.0,...,4.0,1.0,2.0,0.0,0.0,1.53,4.50,5.75,1.61,2.30
2,E0,14/08/2021,15:00,Burnley,Brighton,1.0,2.0,A,1.0,0.0,...,6.0,2.0,1.0,0.0,0.0,3.10,3.10,2.45,2.50,1.53
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3.0,0.0,H,2.0,0.0,...,2.0,0.0,0.0,0.0,0.0,1.25,5.75,13.00,1.80,2.00
4,E0,14/08/2021,15:00,Everton,Southampton,3.0,1.0,H,0.0,1.0,...,8.0,2.0,0.0,0.0,0.0,1.90,3.50,4.00,2.00,1.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,E0,18/03/2023,15:00,Brentford,Leicester,1.0,1.0,D,1.0,0.0,...,4.0,1.0,2.0,1.0,0.0,1.91,3.60,3.75,1.89,2.01
266,E0,18/03/2023,15:00,Southampton,Tottenham,3.0,3.0,D,0.0,1.0,...,3.0,1.0,1.0,0.0,0.0,4.75,3.60,1.75,2.06,1.84
267,E0,18/03/2023,15:00,Wolves,Leeds,2.0,4.0,A,0.0,1.0,...,4.0,3.0,5.0,1.0,0.0,2.25,3.20,3.30,2.20,1.67
268,E0,18/03/2023,17:30,Chelsea,Everton,2.0,2.0,D,0.0,0.0,...,2.0,2.0,2.0,0.0,0.0,1.50,4.20,7.50,2.10,1.73
269,E0,19/03/2023,14:00,Arsenal,Crystal Palace,4.0,1.0,H,2.0,0.0,...,4.0,0.0,1.0,0.0,0.0,1.25,5.50,15.00,1.73,2.10

In [ ]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Arbitro','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]
df2.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Arbitro','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [ ]:
df = df1.dropna()
dff = df2.dropna()

In [ ]:
df.to_excel("ENGLAND_S1.xlsx", index=False)
dff.to_excel("ENGLAND_S2.xlsx", index=False)

#ESCOCIA

In [ ]:

SCO1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/SC0.csv")
SCO1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/SC0.csv")
SCO1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/SC0.csv")
#SCO1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/SC0.csv")
SCO1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/SC0.csv")
SCO1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/SC0.csv")
SCO1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/SC0.csv")
SCO1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/SC0.csv")
SCO1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/SC0.csv")
SCO1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/SC0.csv")
SCO1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/SC0.csv")
# SCO1 = [SCO1_01,SCO1_02,SCO1_03,SCO1_04,SCO1_05,SCO1_06,SCO1_07,SCO1_08,SCO1_09,SCO1_10]
SCO1 = [SCO1_01,SCO1_02,SCO1_03,SCO1_05,SCO1_06,SCO1_07,SCO1_08,SCO1_09,SCO1_10,SCO1_11]
SCO1 = pd.concat(SCO1)
SCO1['Liga'] = 'Escócia 1'

In [ ]:
df1 = SCO1[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','Referee','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [ ]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Arbitro','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [ ]:
df = df1.dropna()

In [ ]:
df.to_excel("SCOTLAND_S1.xlsx", index=False)

#ALEMANHA 1 e 2

In [ ]:

GER1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/D1.csv")
GER1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/D1.csv")
GER1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/D1.csv")
GER1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/D1.csv")
GER1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/D1.csv")
GER1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/D1.csv")
GER1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/D1.csv")
GER1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/D1.csv")
GER1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/D1.csv")
GER1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/D1.csv")
GER1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/D1.csv")
GER1 = [GER1_01,GER1_02,GER1_03,GER1_04,GER1_05,GER1_06,GER1_07,GER1_08,GER1_09,GER1_10,GER1_11]
GER1 = pd.concat(GER1)
GER1['Liga'] = 'Alemanha 1'

In [ ]:

GER2_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/D2.csv")
GER2_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/D2.csv")
GER2_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/D2.csv")
GER2_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/D2.csv")
GER2_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/D2.csv")
GER2_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/D2.csv")
GER2_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/D2.csv")
GER2_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/D2.csv")
GER2_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/D2.csv")
GER2_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/D2.csv")
GER2_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/D2.csv")
GER2 = [GER2_01,GER2_02,GER2_03,GER2_04,GER2_05,GER2_06,GER2_07,GER2_08,GER2_09,GER2_10,GER2_11]
GER2 = pd.concat(GER2)
GER2['Liga'] = 'Alemanha 2'

In [ ]:
df1 = GER1[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

df2 = GER2[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [ ]:
df1

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AC,HY,AY,HR,AR,B365H,B365D,B365A,B365>2.5,B365<2.5
0,D1,13/08/2021,19:30,M'gladbach,Bayern Munich,1,1,D,1,1,...,8,2,0,0,0,4.33,4.50,1.66,1.40,3.00
1,D1,14/08/2021,14:30,Augsburg,Hoffenheim,0,4,A,0,1,...,5,1,2,0,0,3.20,3.75,2.10,1.61,2.30
2,D1,14/08/2021,14:30,Bielefeld,Freiburg,0,0,D,0,0,...,9,3,4,0,0,2.80,3.40,2.50,2.05,1.88
3,D1,14/08/2021,14:30,Stuttgart,Greuther Furth,5,1,H,2,0,...,2,0,1,0,0,1.83,4.00,4.00,1.61,2.30
4,D1,14/08/2021,14:30,Union Berlin,Leverkusen,1,1,D,1,1,...,6,0,1,0,0,2.75,3.40,2.55,1.90,1.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,D1,18/03/2023,14:30,Stuttgart,Wolfsburg,0,1,A,0,0,...,8,1,0,0,0,2.38,3.40,2.90,1.99,1.91
221,D1,18/03/2023,17:30,Dortmund,FC Koln,6,1,H,4,1,...,6,1,0,0,0,1.45,4.75,6.50,1.62,2.30
222,D1,19/03/2023,14:30,Union Berlin,Ein Frankfurt,2,0,H,0,0,...,7,3,2,0,0,2.38,3.20,3.20,2.30,1.62
223,D1,19/03/2023,16:30,Leverkusen,Bayern Munich,2,1,H,0,1,...,3,2,3,0,0,5.25,4.50,1.55,1.40,3.00
224,D1,19/03/2023,18:30,Mainz,Freiburg,1,1,D,0,0,...,5,2,3,0,0,2.10,3.50,3.30,2.00,1.90

In [ ]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

df2.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [ ]:
df = df1.dropna()
dff = df2.dropna()

In [ ]:
df.to_excel("GERMANY_S1.xlsx", index=False)

dff.to_excel("GERMANY_S2.xlsx", index=False)

#ITALIA 1 e 2

In [ ]:

ITA1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/I1.csv")
ITA1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/I1.csv")
ITA1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/I1.csv")
ITA1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/I1.csv")
ITA1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/I1.csv")
ITA1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/I1.csv")
ITA1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/I1.csv")
ITA1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/I1.csv")
ITA1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/I1.csv")
ITA1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/I1.csv")
ITA1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/I1.csv")
ITA1 = [ITA1_01,ITA1_02,ITA1_03,ITA1_04,ITA1_05,ITA1_06,ITA1_07,ITA1_08,ITA1_09,ITA1_10,ITA1_11]
ITA1 = pd.concat(ITA1)
ITA1['Liga'] = 'Itália 1'

In [ ]:

ITA2_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/I2.csv")
ITA2_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/I2.csv")
ITA2_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/I2.csv")
# ITA2_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/I2.csv")
ITA2_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/I2.csv")
ITA2_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/I2.csv")
ITA2_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/I2.csv")
ITA2_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/I2.csv")
ITA2_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/I2.csv")
ITA2_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/I2.csv")
ITA2_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/I2.csv")
# ITA2 = [ITA2_01,ITA2_02,ITA2_03,ITA2_04,ITA2_05,ITA2_06,ITA2_07,ITA2_08,ITA2_09,ITA2_10]
ITA2 = [ITA2_01,ITA2_02,ITA2_03,ITA2_05,ITA2_06,ITA2_07,ITA2_08,ITA2_09,ITA2_10,ITA2_11]
ITA2 = pd.concat(ITA2)
ITA2['Liga'] = 'Itália 2'

In [ ]:
#df1 = [ITA1_01]
#df2 = [ITA2_01]
#df1 = pd.concat (df1)

In [ ]:
df1 = ITA1[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

df2 = ITA2[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [ ]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

df2.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [ ]:
df = df1.dropna()
dff = df2.dropna()

In [ ]:
df.to_excel("ITALY_S1.xlsx", index=False)
df.to_excel("ITALY_S2.xlsx", index=False)

#ESPANHA  1 e 2

In [ ]:

SPA1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/SP1.csv")
SPA1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/SP1.csv")
SPA1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/SP1.csv")
SPA1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/SP1.csv")
SPA1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/SP1.csv")
SPA1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/SP1.csv")
SPA1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/SP1.csv")
SPA1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/SP1.csv")
SPA1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/SP1.csv")
SPA1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/SP1.csv")
SPA1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/SP1.csv")
SPA1 = [SPA1_01,SPA1_02,SPA1_03,SPA1_04,SPA1_05,SPA1_06,SPA1_07,SPA1_08,SPA1_09,SPA1_10,SPA1_11]
SPA1 = pd.concat(SPA1)
SPA1['Liga'] = 'Espanha 1'

In [ ]:
SPA2_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/SP2.csv")
SPA2_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/SP2.csv")
SPA2_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/SP2.csv")
SPA2_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/SP2.csv")
SPA2_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/SP2.csv")
SPA2_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/SP2.csv")
SPA2_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/SP2.csv")
SPA2_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/SP2.csv")
SPA2_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/SP2.csv")
SPA2_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/SP2.csv")
SPA2_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/SP2.csv")
SPA2 = [SPA2_01,SPA2_02,SPA2_03,SPA2_04,SPA2_05,SPA2_06,SPA2_07,SPA2_08,SPA2_09,SPA2_10,SPA2_11]
SPA2 = pd.concat(SPA2)
SPA2['Liga'] = 'Espanha 2'

In [ ]:
df1 = SPA1[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

df2 = SPA2[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [ ]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

df2.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [ ]:
df = df1.dropna()
dff = df2.dropna()

In [ ]:
df.to_excel("SPAIN_S1.xlsx", index=False)
dff.to_excel("SPAIN_S2.xlsx", index=False)

#FRANÇA 1 E 2

In [ ]:

FRA1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/F1.csv")
FRA1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/F1.csv")
FRA1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/F1.csv")
FRA1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/F1.csv")
FRA1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/F1.csv")
FRA1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/F1.csv")
FRA1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/F1.csv")
FRA1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/F1.csv")
FRA1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/F1.csv")
FRA1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/F1.csv")
FRA1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/F1.csv")
FRA1 = [FRA1_01,FRA1_02,FRA1_03,FRA1_04,FRA1_05,FRA1_06,FRA1_07,FRA1_08,FRA1_09,FRA1_10,FRA1_11]
FRA1 = pd.concat(FRA1)
FRA1['Liga'] = 'França 1'

In [ ]:

FRA2_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/F2.csv")
FRA2_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/F2.csv")
FRA2_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/F2.csv")
FRA2_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/F2.csv")
FRA2_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/F2.csv")
FRA2_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/F2.csv")
FRA2_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/F2.csv")
FRA2_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/F2.csv")
FRA2_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/F2.csv")
FRA2_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/F2.csv")
FRA2_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/F2.csv")

FRA2 = [FRA2_01,FRA2_02,FRA2_03,FRA2_04,FRA2_05,FRA2_06,FRA2_07,FRA2_08,FRA2_09,FRA2_10,FRA2_11]
FRA2 = pd.concat(FRA2)
FRA2['Liga'] = 'França 2'

In [ ]:
df1 = FRA1[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

df2 = FRA2[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [ ]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

df2.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [ ]:
df = df1.dropna()
dff = df2.dropna()

In [ ]:
df.to_excel("FRANCE_S1.xlsx", index=False)

dff.to_excel("FRANCE_S2.xlsx", index=False)

#HOLANDA

In [ ]:

NET1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/N1.csv")
NET1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/N1.csv")
NET1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/N1.csv")
NET1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/N1.csv")
NET1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/N1.csv")
NET1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/N1.csv")
NET1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/N1.csv")
NET1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/N1.csv")
NET1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/N1.csv")
NET1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/N1.csv")
NET1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/N1.csv")
NET1 = [NET1_01,NET1_02,NET1_03,NET1_04,NET1_05,NET1_06,NET1_07,NET1_08,NET1_09,NET1_10,NET1_11]
NET1 = pd.concat(NET1)
NET1['Liga'] = 'Holanda 1'

In [ ]:
df1 = NET1[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [ ]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [ ]:
df = df1.dropna()

In [ ]:
df.to_excel("NETERLAND_S1.xlsx", index=False)

#BELGICA

In [ ]:
BEL1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/B1.csv")
BEL1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/B1.csv")
BEL1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/B1.csv")
BEL1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/B1.csv")
BEL1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/B1.csv")
BEL1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/B1.csv")
BEL1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/B1.csv")
BEL1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/B1.csv")
BEL1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/B1.csv")
BEL1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/B1.csv")
BEL1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/B1.csv")
BEL1 = [BEL1_01,BEL1_02,BEL1_03,BEL1_04,BEL1_05,BEL1_06,BEL1_07,BEL1_08,BEL1_09,BEL1_10,BEL1_11]
BEL1 = pd.concat(BEL1)
BEL1['Liga'] = 'Bélgica 1'
df1 = BEL1[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [ ]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [ ]:
df = df1.dropna()

In [ ]:
df.to_excel("BELGIUM_S1.xlsx", index=False)

#PORTUGAL

In [ ]:

POR1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/P1.csv")
POR1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/P1.csv")
POR1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/P1.csv")
POR1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/P1.csv")
POR1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/P1.csv")
POR1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/P1.csv")
POR1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/P1.csv")
POR1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/P1.csv")
POR1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/P1.csv")
POR1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/P1.csv")
POR1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/P1.csv")
POR1 = [POR1_01,POR1_02,POR1_03,POR1_04,POR1_05,POR1_06,POR1_07,POR1_08,POR1_09,POR1_10,POR1_11]
POR1 = pd.concat(POR1)
POR1['Liga'] = 'Portugal 1'

In [ ]:
df1 = POR1[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [ ]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [ ]:
df = df1.dropna()

In [ ]:
df.to_excel("PORTUGAL_S1.xlsx", index=False)

#TURQUIA

In [ ]:

TUR1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/T1.csv")
TUR1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/T1.csv")
TUR1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/T1.csv")
TUR1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/T1.csv")
TUR1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/T1.csv")
TUR1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/T1.csv")
TUR1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/T1.csv")
TUR1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/T1.csv")
TUR1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/T1.csv")
TUR1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/T1.csv")
TUR1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/T1.csv")
TUR1 = [TUR1_01,TUR1_02,TUR1_03,TUR1_04,TUR1_05,TUR1_06,TUR1_07,TUR1_08,TUR1_09,TUR1_10,TUR1_11]
TUR1 = pd.concat(TUR1)
TUR1['Liga'] = 'Turquia 1'

In [ ]:
df1 = TUR1[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [ ]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [ ]:
df = df1.dropna()

In [ ]:
df.to_excel("TURKEY_S1.xlsx", index=False)

#GRECIA

In [ ]:


GRE1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2122/G1.csv")
GRE1_02 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2021/G1.csv")
GRE1_03 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1920/G1.csv")
GRE1_04 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1819/G1.csv")
GRE1_05 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1718/G1.csv")
GRE1_06 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1617/G1.csv")
GRE1_07 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1516/G1.csv")
GRE1_08 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1415/G1.csv")
GRE1_09 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1314/G1.csv")
GRE1_10 = pd.read_csv("https://www.football-data.co.uk/mmz4281/1213/G1.csv")
GRE1_11 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/G1.csv")
GRE1 = [GRE1_01,GRE1_02,GRE1_03,GRE1_04,GRE1_05,GRE1_06,GRE1_07,GRE1_08,GRE1_09,GRE1_10,GRE1_11]
GRE1 = pd.concat(GRE1)
GRE1['Liga'] = 'Grécia 1'

In [ ]:
df1 = GRE1[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [ ]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [ ]:
df = df1.dropna()

In [ ]:
df.to_excel("GREECE_S1.xlsx", index=False)

### **SECUNDARIAS**

In [ ]:
ARG = pd.read_csv("https://www.football-data.co.uk/new/ARG.csv")
ARG['Liga'] = 'Argentina'

AUS = pd.read_csv("https://www.football-data.co.uk/new/AUT.csv")
AUS['Liga'] = 'Austria'

BRA = pd.read_csv("https://www.football-data.co.uk/new/BRA.csv")
BRA['Liga'] = 'Brasil'

CHI = pd.read_csv("https://www.football-data.co.uk/new/CHN.csv")
CHI['Liga'] = 'China'

DIN = pd.read_csv("https://www.football-data.co.uk/new/DNK.csv")
DIN['Liga'] = 'Dinamarca'

FIN = pd.read_csv("https://www.football-data.co.uk/new/FIN.csv")
FIN['Liga'] = 'Finlândia'

IRL = pd.read_csv("https://www.football-data.co.uk/new/IRL.csv")
IRL['Liga'] = 'Irlanda'

JAP = pd.read_csv("https://www.football-data.co.uk/new/JPN.csv")
JAP['Liga'] = 'Japão'

MEX = pd.read_csv("https://www.football-data.co.uk/new/MEX.csv")
MEX['Liga'] = 'México'

NOR = pd.read_csv("https://www.football-data.co.uk/new/NOR.csv")
NOR['Liga'] = 'Noruega'

POL = pd.read_csv("https://www.football-data.co.uk/new/POL.csv")
POL['Liga'] = 'Polônia'

ROM = pd.read_csv("https://www.football-data.co.uk/new/ROU.csv")
ROM['Liga'] = 'Romêmia'

RUS = pd.read_csv("https://www.football-data.co.uk/new/RUS.csv")
RUS['Liga'] = 'Rússia'

SUE = pd.read_csv("https://www.football-data.co.uk/new/SWE.csv")
SUE['Liga'] = 'Suécia'

SUI = pd.read_csv("https://www.football-data.co.uk/new/SWZ.csv")
SUI['Liga'] = 'Suíça'

USA = pd.read_csv("https://www.football-data.co.uk/new/USA.csv")
USA['Liga'] = 'USA'

In [ ]:
SEC = [ARG, AUS, BRA, CHI, DIN, FIN, IRL, JAP, MEX, NOR, POL, ROM, RUS, SUE, SUI, USA]
SEC = pd.concat(SEC)

In [ ]:
SEC2 = SEC[['Liga','Date','Home','Away','HG','AG','Res','PH','PD','PA']]

In [ ]:
SEC2.columns = ['Liga','Data','Mandante','Visitante','Gols Mandante','Gols Visitante','Resultado','Odds Mandante','Odds Empate','Odds Visitante']

In [ ]:
SEC2

,Liga,Data,Mandante,Visitante,Gols Mandante,Gols Visitante,Resultado,Odds Mandante,Odds Empate,Odds Visitante
0,Argentina,03/08/2012,Arsenal Sarandi,Union de Santa Fe,1.0,0.0,H,1.90,3.39,5.03
1,Argentina,04/08/2012,Velez Sarsfield,Argentinos Jrs,3.0,0.0,H,2.00,3.24,4.55
2,Argentina,04/08/2012,Racing Club,Atl. Rafaela,1.0,1.0,D,1.91,3.34,5.09
3,Argentina,04/08/2012,Colon Santa FE,Lanus,1.0,0.0,H,2.50,3.16,3.27
4,Argentina,04/08/2012,Quilmes,Boca Juniors,3.0,0.0,H,3.18,3.13,2.58
...,...,...,...,...,...,...,...,...,...,...
4283,USA,19/03/2023,FC Dallas,Sporting Kansas City,2.0,1.0,H,2.05,3.59,3.81
4284,USA,19/03/2023,Houston Dynamo,Austin FC,2.0,0.0,H,2.44,3.53,3.00
4285,USA,19/03/2023,St. Louis City,San Jose Earthquakes,3.0,0.0,H,2.26,3.59,3.26
4286,USA,19/03/2023,Colorado Rapids,Minnesota United,1.0,2.0,A,2.23,3.47,3.44
4287,USA,19/03/2023,Los Angeles Galaxy,Vancouver Whitecaps,1.0,1.0,D,1.69,4.15,4.99

In [ ]:
SEC2.to_excel("Liga_mundo_2.xlsx", index=False)