<a href="https://colab.research.google.com/github/bola1318/base_de_dados/blob/main/UPLOAD_GITHUB_LIGRAS_EUROPA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

#INGLATERRA 1 e 3

In [2]:
ENG1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/E0.csv")

In [3]:
ENG2_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/E1.csv")

In [4]:
#df1 = [ENG1_01]
#df2 = [ENG2_01]

In [5]:
#df1 = pd.concat(df1)

In [6]:
df1 = ENG1_01[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','Referee','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

df2 = ENG2_01[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','Referee','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [7]:
df1

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AC,HY,AY,HR,AR,B365H,B365D,B365A,B365>2.5,B365<2.5
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,5,1,2,0,0,4.20,3.6,1.85,2.10,1.72
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,4,2,0,0,0,11.00,6.0,1.25,1.50,2.62
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,5,3,3,0,0,3.75,3.5,2.00,2.00,1.80
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,4,2,0,0,0,2.25,3.4,3.20,2.05,1.85
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1,0,3,0,0,1.66,3.8,5.25,2.05,1.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,E0,18/03/2023,15:00,Brentford,Leicester,1,1,D,1,0,...,4,1,2,1,0,1.91,3.6,3.75,1.89,2.01
266,E0,18/03/2023,15:00,Southampton,Tottenham,3,3,D,0,1,...,3,1,1,0,0,4.75,3.6,1.75,2.06,1.84
267,E0,18/03/2023,15:00,Wolves,Leeds,2,4,A,0,1,...,4,3,5,1,0,2.25,3.2,3.30,2.20,1.67
268,E0,18/03/2023,17:30,Chelsea,Everton,2,2,D,0,0,...,2,2,2,0,0,1.50,4.2,7.50,2.10,1.73
269,E0,19/03/2023,14:00,Arsenal,Crystal Palace,4,1,H,2,0,...,4,0,1,0,0,1.25,5.5,15.00,1.73,2.10

In [8]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Arbitro','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]
df2.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Arbitro','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [9]:
df = df1.dropna()
dff = df2.dropna()

In [10]:
df.to_excel("ENGLAND_S1.xlsx", index=False)
dff.to_excel("ENGLAND_S2.xlsx", index=False)

#ESCOCIA

In [11]:
SCO1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/SC0.csv")

In [12]:
df1 = SCO1_01[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','Referee','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [13]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Arbitro','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [14]:
df = df1.dropna()

In [15]:
df.to_excel("SCOTLAND_S1.xlsx", index=False)

#ALEMANHA 1 e 2

In [16]:
GER1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/D1.csv")

In [17]:
GER2_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/D2.csv")

In [18]:
df1 = [GER1_01]
#df1 = pd.concat (df1)

df2 = [GER2_01]

In [19]:
df1 = GER1_01[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

df2 = GER2_01[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [20]:
df1

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AC,HY,AY,HR,AR,B365H,B365D,B365A,B365>2.5,B365<2.5
0,D1,05/08/2022,19:30,Ein Frankfurt,Bayern Munich,1,6,A,0,5,...,6,2,0,0,0,6.00,5.00,1.50,1.40,3.00
1,D1,06/08/2022,14:30,Augsburg,Freiburg,0,4,A,0,0,...,8,0,0,0,0,3.30,3.50,2.15,1.92,1.98
2,D1,06/08/2022,14:30,Bochum,Mainz,1,2,A,1,1,...,5,2,3,0,0,3.20,3.40,2.20,1.96,1.94
3,D1,06/08/2022,14:30,M'gladbach,Hoffenheim,3,1,H,1,1,...,2,1,4,0,1,2.05,4.20,3.00,1.36,3.20
4,D1,06/08/2022,14:30,Union Berlin,Hertha,3,1,H,1,0,...,4,2,3,0,0,1.72,3.75,4.50,2.06,1.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,D1,18/03/2023,14:30,Stuttgart,Wolfsburg,0,1,A,0,0,...,8,1,0,0,0,2.38,3.40,2.90,1.99,1.91
221,D1,18/03/2023,17:30,Dortmund,FC Koln,6,1,H,4,1,...,6,1,0,0,0,1.45,4.75,6.50,1.62,2.30
222,D1,19/03/2023,14:30,Union Berlin,Ein Frankfurt,2,0,H,0,0,...,7,3,2,0,0,2.38,3.20,3.20,2.30,1.62
223,D1,19/03/2023,16:30,Leverkusen,Bayern Munich,2,1,H,0,1,...,3,2,3,0,0,5.25,4.50,1.55,1.40,3.00
224,D1,19/03/2023,18:30,Mainz,Freiburg,1,1,D,0,0,...,5,2,3,0,0,2.10,3.50,3.30,2.00,1.90

In [21]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

df2.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [22]:
df = df1.dropna()
dff = df2.dropna()

In [23]:
df.to_excel("GERMANY_S1.xlsx", index=False)

dff.to_excel("GERMANY_S2.xlsx", index=False)

#ITALIA 1 e 2

In [24]:
ITA1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/I1.csv")

In [25]:
ITA2_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/I2.csv")

In [26]:
df1 = [ITA1_01]
df2 = [ITA2_01]
#df1 = pd.concat (df1)

In [27]:
df1 = ITA1_01[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

df2 = ITA2_01[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [28]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

df2.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [29]:
df = df1.dropna()
dff = df2.dropna()

In [30]:
df.to_excel("ITALY_S1.xlsx", index=False)
df.to_excel("ITALY_S2.xlsx", index=False)

#ESPANHA  1 e 2

In [31]:
SPA1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/SP1.csv")
SPA2_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/SP2.csv")

In [32]:
df1 = [SPA1_01]
df2 = [SPA2_01]


#df1 = pd.concat (df1)

In [33]:
df1 = SPA1_01[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

df2 = SPA2_01[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [34]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

df2.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [35]:
df = df1.dropna()
dff = df2.dropna()

In [36]:
df.to_excel("SPAIN_S1.xlsx", index=False)
dff.to_excel("SPAIN_S2.xlsx", index=False)

#FRANÇA 1 E 2

In [37]:
FRA1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/F1.csv")

In [38]:
FRA2_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/F2.csv")

In [39]:
df1 = [FRA1_01]
df2 = [FRA2_01]


#df1 = pd.concat (df1)

In [40]:
df1 = FRA1_01[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

df2 = FRA2_01[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [41]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

df2.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [42]:
df = df1.dropna()
dff = df2.dropna()

In [43]:
df.to_excel("FRANCE_S1.xlsx", index=False)

dff.to_excel("FRANCE_S2.xlsx", index=False)

#HOLANDA

In [44]:
NET1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/N1.csv")

In [45]:
df1 = NET1_01[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [46]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [47]:
df = df1.dropna()

In [48]:
df.to_excel("NETERLAND_S1.xlsx", index=False)

#BELGICA

In [49]:
BEL1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/B1.csv")

In [50]:
df1 = BEL1_01[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [51]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [52]:
df = df1.dropna()

In [53]:
df.to_excel("BELGIUM_S1.xlsx", index=False)

#PORTUGAL

In [54]:
POR1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/P1.csv")

In [55]:
df1 = POR1_01[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [56]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [57]:
df = df1.dropna()

In [58]:
df.to_excel("PORTUGAL_S1.xlsx", index=False)

#TURQUIA

In [59]:
TUR1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/T1.csv")

In [60]:
df1 = TUR1_01[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [61]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [62]:
df = df1.dropna()

In [63]:
df.to_excel("TURKEY_S1.xlsx", index=False)

#GRECIA

In [64]:
GRE1_01 = pd.read_csv("https://www.football-data.co.uk/mmz4281/2223/G1.csv")

In [65]:
df1 = GRE1_01[['Div','Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTHG','HTAG','HTR','HS','AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR','B365H','B365D','B365A','B365>2.5','B365<2.5']]

In [66]:
df1.columns =['Div','Date','Time','Home','Away','FT_Goals_H','FT_Goals_A','Resultado_finalHT','Gols_casa_ht','Gols_fora_ht','Resultado_HT','Chutes_Time_Casa','Chutes_Time_fora','Chutes_a_gol_casa','Chutes_a_gol_fora','Faltas_time_casa','Faltas_time_fora','Escanteios_casa','Escanteios_fora','Cartao_amarelo_casa','Cartao_amarelo_fora','Cartao_vermelho_casa','Cartao_vermelho_casa','FT_Odds_H','FT_Odds_D','FT_Odds_A','B365>2.5','B365<2.5'
]

In [67]:
df = df1.dropna()

In [68]:
df.to_excel("GREECE_S1.xlsx", index=False)

#AJUSTANDO COLUNAS E IMPRIMINDO XLXS